In [96]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [97]:
df = pd.read_csv("../../data/raw/stats.csv")
df.head()

,Equipo,Fecha,Min,VAL,+-Pt,RatOf,ClasDef,Pt,TirInt,TC,...,TLI,TLC,AS,RD,RO,RT,Tap,PSO,REC,PER
0,AUTONOMA SAN LUIS,15 mar. 2025 12:00,38:45,21.0,16,-100.7,0.0,16,17.2,5,...,5,5,5,2,5,7,0,4,3,4
1,UNLA MORELIA,8 mar. 2025 15:00,37:28,28.0,-2,292.5,0.0,28,22.9,12,...,2,1,2,9,3,12,0,9,2,6
2,UP AGUASCALIENTES,1 mar. 2025 12:00,38:04,8.0,9,335.8,0.0,15,18.8,5,...,4,4,1,3,2,5,0,2,1,3
3,UP GUADALAJARA,19 feb. 2025 13:30,26:55,5.0,-13,-82.2,0.0,12,10.3,5,...,3,2,0,2,0,2,0,0,1,3
4,AUTONOMA DE QUERETARO,14 feb. 2025 11:00,36:37,27.0,7,530.3,0.0,19,19.4,5,...,10,9,6,6,1,7,0,6,3,3

In [99]:
df_no_date = df.drop(["Fecha", "ClasDef"], axis=1)
df_no_date["RatOf"] = df_no_date["RatOf"].apply(lambda x: x.replace(",", ""))
df_no_date["RatOf"] = df_no_date["RatOf"].astype(float)

In [100]:
df_no_date["Sec_played"] = df_no_date["Min"].apply(lambda x: (int(x[:2]) * 60) + int(x[-2:]))
df_no_date = df_no_date.drop("Min", axis=1)

In [103]:
df_dummies = pd.get_dummies(df["Equipo"], drop_first=True)
df_encoded = pd.concat([df_no_date, df_dummies], axis=1).drop("Equipo", axis=1)